<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <title>INDEX</title>
       <link rel="stylesheet" href="/node_modules/bootstrap-icons/font/bootstrap-icons.css">
       <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
      <style>
      
          .container{
            width: 100%;
           height: 100%;
          position: relative;
          
          }
          .nav{
            height: 80px;
            width: 100%;
          border-bottom: 2px solid #dadada;
            display: flex;
         align-items: center;
            justify-content: space-between;
            padding: 0 5px;
          
          }
          .nav-part2{
            display: flex;
            gap: 3rem;
            align-items: center;
           
          }
          .nav h2{
            font-size: 1.5rem;
            font-weight: 700;
            padding:0 1.5rem;
            padding: 1rem;

          }
          .nav h4{
            font-size: 1rem;
          }
          .nav-part2 a{
            width: 70px;
            height: 25px;
            text-decoration: none;
            border: 1px solid #171515;
            border-radius: 100px;
            color: #1f1a1a;
            font-size: 12px;
           text-align: center;
           font-size: 15px;
           background-color: aqua;
          }
          .nav-part2 i{
             background-color: black;
          }
          .nav-part2 span{
            font-size: 20px;
            font-weight: bold;
          
          }
          .nav span{
              font-size: 2rem;
              font-weight: 800;
              display: none;
            }

            .Deal-of-container .review-1{
        justify-content: center;
        text-align: center;
        margin-top: 0.5rem;
        font-size: 1.5rem;
     }

 .about-container{
    width: 100%;
     
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
 }
 .card-1{
    width: 20%;
   
    padding: 0.5rem;
    margin-left: 6rem;
    margin-right: 1rem;
 }
 .about-container img{
    width: 100%;
    height: 15rem;
  
 }
 button{
    justify-content: center;
    text-align: center;
    margin-left: 4rem;
    border-radius: 2rem;
    background-color: rgb(20, 243, 255);
    color: black;
    border: 2px solid black;
 }
 button a{
  text-decoration: none;
  color: black;
  font-weight: bold;
 }
  

 
   </style>
    
</head>
<body>
   <div class="container">
      <!--navegation-->

       <div class="nav">
       <h2>SAWAN</h2>
    <div class="nav-part2">
        <h4>home</h4>
       <h4>about</h4>
       <h4>shop</h4>
       <h4>contact</h4>
      <a href="#">click</a>
     <span class="bi bi-list" style="color: #322e2e;"></span>

    </div>
</div>
             <!--card section-->
         <div class="Deal-of-container">
        <div class="review-1">
          <p> placement call</p>
          <h3>New Beach Of Offer</h3>
        </div>
        </div>

      <div class="about-container">
        <div class="card-1">
            <img src="/backend/src/job alert news.jpg" alt="">
            <div class="heading-1">
                <h3>about us</h3>
                <div class="sub-heading">
                    <h4>wegraunte the highet of quality</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, doloremque?</p>
                    <button> Book-Now</button>
                </div>
            </div>
       </div>
        <div class="card-1">
             <img src="/backend/src/job alert news.jpg" alt="">
            <div class="heading-1">
                <h3>about us</h3>
                <div class="sub-heading">
                    <h4>wegraunte the highet of quality</h4>
                    <p> sit amet consectetur adipisicing elit. Nulla, doloremque?</p>
                    <button> Book-Now</button> 
                </div>
            </div>
       </div>
        <div class="card-1">
           <img src="/backend/src/job alert news.jpg" alt="">
            <div class="heading-1">
                <h3>about us</h3>
                <div class="sub-heading">
                    <h4>wegraunte the highet of quality</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, doloremque?</p>
                      <button> Book-Now</button>
                </div>
            </div>
       </div>
        <div class="card-1">
            <img src="/backend/src/job alert news.jpg" alt="">
            <div class="heading-1">
                <h3>about us</h3>
                <div class="sub-heading">
                    <h4>wegraunte the highet of quality</h4>
                    <p> sit amet consectetur adipisicing elit. Nulla, doloremque?</p>
                      <button> Book-Now</button>
                </div>
            </div>
       </div>
        <div class="card-1">
            <img src="/backend/src/job alert news.jpg" alt="">
            <div class="heading-1">
                <h3>about us</h3>
                <div class="sub-heading">
                    <h4>wegraunte the highet of quality</h4>
                    <p>sit amet consectetur adipisicing elit. Nulla, doloremque?</p>
                      <button> Book-Now</button>
                </div>
            </div>
       </div>
        <div class="card-1">
            <img src="/backend/src/job alert news.jpg" alt="">
            <div class="heading-1">
                <h3>about us</h3>
                <div class="sub-heading">
                    <h4>wegraunte the highet of quality</h4>
                    <p> sit amet consectetur adipisicing elit. Nulla, doloremque?</p>
                      <button> Book-Now</button>
                </div>
            </div>
       </div>

 </div>


      <script src="/node_modules/jquery/dist/jquery.js"></script>
      <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
</body>
</html>